<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="libpxcclr.cs" version="8.0.24.6528" targetFramework="net452" />
  <package id="Microsoft.Kinect" version="2.0.1410.19000" targetFramework="net452" />
  <package id="Microsoft.Kinect.Face" version="2.0.1410.19000" targetFramework="net452" />
  <package id="sharpsenses.realsense" version="0.9.9.0" targetFramework="net452" />
</packages>